* {
    font-family: 'Roboto Slab', serif;
}

h1 {
    text-align: center;
}

img {
    width: 400px;
    display: block;
    padding-bottom: 20px;
}

p, li {
    font-size: 20px;
    width: 1280px;
    text-align: justify;
    margin: 0 auto;
}

li {
    padding-bottom: 20px;
}
